.container{
    background: rgb(243, 241, 241);
    width: 70%;
    margin: auto;
    padding: 10px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    grid-template-columns: 300px 500px;
    margin-top: 30px;
    font-family: sans-serif;
}

.col{
    margin: 20px;
    padding: 10px;
}
img{
    width: 100%;
}
p{
    font-size: 12px;
    line-height: 30px;
}